/*MENU*/

@font-face
{
	font-family:'Muli-ExtraLightItalic';
	src:url("../fonts/Muli/Muli-ExtraLightItalic.ttf") format("truetype")
}
@font-face
{
	font-family:'Muli-Reg';
	src:url("../fonts/Muli/Muli.ttf") format("truetype")
}
body
{
	margin:0;
}
.menu
{
	font-weight:100;
	background-color: rgba(224, 125, 0, 0.8);
	width:13%;
	height:100%;
	padding-left:50px;
	position:fixed;
	top:0%;
	attachment: fixed;
	z-index:100;
	-webkit-box-shadow:-3px 0px 5px 0px rgba(0,0,0,0.2);
	box-shadow:-3px 0px 5px 0px rgba(0,0,0,0.2);
	left:-130px;
	transition:all .3s;
	-webkit-transition:all .3s;
	color:#44006B;
	font-family: Comfortaa;
}
.menu:hover,.menu:focus
{
	transform:translate3d(130px, 0, 0);
	animation-timing-function:1s ease-in;
}
.menu .title
{
	position:absolute;
	top:50%;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	transform:rotate(90deg);
	right:13px;
	font-weight:800;
	font-size:35px
}
.menu .nav
{
	position:absolute;
	top:50%;
	left: 1%;
	align: left;
	-webkit-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	transform:translateY(-50%);
	font-weight:100;
}
.menu .nav li
{
	padding-bottom:20px;
	list-style-type:none;
	
}
.menu .nav li a
{
	display:block;
	text-decoration:none;
	color:inherit;
	transition:all .3s;
	-webkit-transition:all .3s;
	
}
.menu .nav li a:hover
{
	color:#aaa;
}
/*
.intro
{
	position:absolute;
	top:30%;
	width:60%;
	margin:0 auto;
	left:0;
	right:0;
	font-size:45px;
	text-align:center;
	font-family:'Muli-ExtraLightItalic'
}*/



